.content{
    text-align: center;
    width: 7.5rem;
    img{
        width: 3.32rem;
        height: 3.32rem;
    }
    h3,h4{
        font-size: 0.36rem;
        color: #333333;
        margin-top: 0.25rem;
    }
    a{
       
        margin: auto;
        display: block;
        width: 2.98rem;
        height: 0.76rem;
        font-size: 0.36rem;
        background: #362e2b;
     margin-top: 0.25rem;
        line-height: 0.76rem;
        color: white;
    }
    a.zhi{
        background: #ff2626;
       
    }
}