* {
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    border: none;
    font-family: "微软雅黑";
    text-decoration: none;
    font-weight: 400;
}
body{
    background: #f1f1f1;
}
img {
    width: 100%;
    height: 100%;
}

.icon {
    width: 100%;
    height: 100%;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    display: block;
}

header {
    position: absolute;
    width: 1rem;
    height: 1rem;
    z-index: 5;
    div {
        width: 0.46rem;
        height: 0.46rem;
        background: black;
        opacity: 0.6;
        border-radius: 50%;
        position: absolute;
        left: 0.25rem;
        top: 0.25rem;
    }
    a {
        display: block;
        position: absolute;
        width: 0.45rem;
        height: 0.45rem;
        top: 0.25rem;
        left: 0.23rem;
    }
}
.content{
    margin-bottom: 1rem;
    overflow: hidden;
}
.banner {
    position: relative;
    width: 7.5rem;
    height: 8rem;
}

.banner img {
    width: 7.5rem;
    height: 8rem;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: -15px 5px;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #11d5f4;
}

.info {
    float: left;
    width: 7.5rem;
    background: white;
    div {
        position: relative;
        width: 7.2rem;
        margin: auto;
        h3 {
            margin-top: 0.2rem;
            font-size: 0.28rem;
            color: #333333;
            ;
            width: 5rem;
            font-weight: 600;
        }
        h4 {
            margin-top: 0.3rem;
            font-size: 0.32rem;
            color: #ff1d1d;
            span {
                font-size: 0.24rem;
            }
        }
        h5 {
            margin-top: 0.2rem;
            font-size: 0.24rem;
            color: #666666;
            span {
                text-decoration: line-through;
            }
        }
        p {
            margin-top: 0.2rem;
            font-size: 0.24rem;
            color: #666666;
            span {
                margin-left: 1.4rem;
            }
            b {
                margin-left: 1.3rem;
            }
        }
        a.share {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 0.24rem;
            color: #666666;
            width: 0.6rem;
            display: block;
            img {
                width: 0.55rem;
                height: 0.55rem;
            }
        }
    }
}

.type{
    margin-top: 0.1rem;
    width: 7.5rem;
    float: left;
    ul{
        li{background: white;
            width: 7.2rem;
            height: 0.5rem;
            padding-left: 0.15rem;
            padding-right: 0.15rem;
            margin-bottom: 1px;
            a{height: 100%;
                display: block;
                font-size: 0.24rem;
                color: #666666;
                line-height: 0.5rem;
                span{
                    float: right;
                    img{
                        width: 0.12rem;
                        height: 0.24rem;
                    }
                }
            }
        }
    }
}

.title{
    width: 6.65rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.85rem;
    background: #ce548d;
    font-size: 0.22rem;
    color: white;
    float: left;
    img{
        width: 0.16rem;
        height: 0.16rem;
        
    }
}

.introduct{
    ul{
        li{
            float: left;
        }
    }
}

footer{
    width: 7.5rem;
    height: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #ffa841;
    ul{
        li:nth-child(3){
            width: 2.2rem;
            height: 1rem;
            background: #ffa841;
            line-height: 1rem;
        }
        li:nth-child(4){
            width: 2rem;
            height: 1rem;
            background: #ff2626;
            line-height: 1rem;
        }
        li{
            position: relative;
            background: #f4b469;
           width:1.65rem;
           float: left;
           height: 1rem;
           
           a{
               position: absolute;
               top: 0;
               bottom: 0;
               left: 0;
               right: 0;
               margin: auto;
               width: auto;
               height: 0.9rem;
               display: block;
               text-align: center;
               font-size: 0.24rem;
               color:white;
               img{
                   width: 0.46rem;
                   height: 0.46rem;
               }
           }
        }
    }
}