@charset "UTF-8";
body {
  background: white;
}

.content {
  padding-top: 0.86rem;
}

.content div {
  width: 6.04rem;
  margin: auto;
}

.content div img {
  display: block;
  margin: auto;
  width: 1.44rem;
  height: 1.44rem;
}

.content div ul {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-around;
}

.content div ul li img {
  width: 1rem;
  height: 1rem;
}

.content div input[type="button"] {
  width: 2rem;
  height: 0.76rem;
  background: #f4b469;
  font-size: 0.36rem;
  color: white;
  display: block;
  margin: auto;
  padding-left: 0;
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.content div h4 {
  height: 0.6rem;
  line-height: 0.6rem;
  text-align: center;
  font-size: 0.36rem;
  color: #999999;
  font-family: "宋体";
  border-bottom: 1px solid #cccccc;
}

.content div input {
  border-radius: 0.05rem;
  width: 5.65rem;
  height: 0.8rem;
  background: #e5e5e5;
  font-size: 0.28rem;
  color: #999999;
  padding-left: 0.35rem;
  margin-top: 0.4rem;
}

.content div p {
  margin-top: 0.15rem;
  font-size: 0.28rem;
}

.content div p a {
  color: #999999;
}

.content div p a:last-child {
  float: right;
}
